{:paths ["src"]
 :deps {org.clojure/clojure            {:mvn/version "1.10.0"}
        org.clojure/clojurescript      {:mvn/version "1.10.516"}
        compojure                      {:mvn/version "1.6.1"}

        ;; this is on the s3 repo
        com.google.cloud/google-cloud-monitoring {:mvn/version "1.78.0"}
        }
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}}
